<!-- Footer -->
<footer class="page-footer font-small rgba-pink-light mt-3 fixed-bottom">
  <!-- Copyright -->
  <div class="footer-copyright text-center text-default text-uppercase py-3">
    <% if (status == "USER") { %>
      <a href="/products">Радина Руменова Василева, Vкурс, Спец. "Мобилни и уеб технологии", Гр.32, Ф.№. 117 239</a>
    <% } else if(status == "ADMIN") {%>
      <a href="/admin-products">Радина Руменова Василева, Vкурс, Спец. "Мобилни и уеб технологии", Гр.32, Ф.№. 117 239</a>
    <% } else {%>
      <a href="/">Радина Руменова Василева, Vкурс, Спец. "Мобилни и уеб технологии", Гр.32, Ф.№. 117 239</a>
    <% } %>
    © 2020 Copyright
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
